.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 100px 50px;
    /* need to work here something wrong*/
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
    width: 100%;
    height: 100%;
}